<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("google_base.export_settings") %></h1>

<%= form_for(Spree::GoogleBase::Config.instance, :url => admin_google_base_settings_path) do |f| %>
  <% [:title, :public_domain, :description, :ftp_username, 
      :ftp_password, :enable_taxon_mapping].each do |setting| %>
    <%= setting_field(f, setting) %>
  <% end %>

  <p class="form-buttons">
    <%= button t('update') %> 
    <%= t("or") %> <%= link_to t("cancel"), admin_google_base_settings_url %>
  </p>
<% end %>

<% content_for :head do %>
  <style>
    .edit_google_base_configuration input { width: 250px; }
  </style>
<% end %>
