<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("google_base.export_settings") %></h1>

<table>
  <% [:title, :public_domain, :description, :ftp_username].each do |setting| %>
    <%= setting_presentation_row(setting) %>
  <% end %>
  <%= setting_presentation_row(:ftp_password, true) %>
  <%= setting_presentation_row(:enable_taxon_mapping) %>
</table>

<p>
  <%= link_to_with_icon 'edit', t("edit"), edit_admin_google_base_settings_path %>
  <% if Spree::GoogleBase::Config[:enable_taxon_mapping] %>
    <%= link_to_with_icon 'edit', t("google_base.manage_taxon_mapping"), admin_taxon_map_index_path %>
  <% end %>
</p>


